.banner-container {
    height: 92vh;
    display: flex;
    align-items: center;
    background-image: url('/static/images/car-banner.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* To improve readability */
  }
  
  .content {
    max-width: 600px;
  }
  
  .btn {
    margin-top: 20px;
  }
  