{% extends "base.html" %}

{% block title %}Show All Tasks{% endblock title %}

{% block content %}

    <div class="row g-5">
      {% for task in tasks %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{task.task_titile}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{task.task_assign_date}}</h6>
                <p class="card-text">{{task.task_description}}</p>
                <div class="mb-2">
                {% for category in task.category.all %}
                        <span class="badge text-bg-primary">{{category.category_name}}</span>
                {% endfor %}
                </div>
                {% if task.is_completed == False %}
                    <a href="{% url 'edit_task_page' task.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'delete_task_page' task.id %}" class="btn btn-sm btn-danger">Delete</a>
                {% else %}
                    <span class="badge text-bg-success">Completed</span>
                {% endif %}
                </div>
            </div>
        </div>
      {% endfor %}
    </div>

{% endblock content %}